.testing {
  background: hotpink;
}

.blockQuote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}

.ulItem {
  color: red;
}

.olItem {
  color: purple;
}

.codeBlock {
  color: limegreen;
}
