.btnWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 40px;
  width: 100%;
  justify-content: center;
  height: 100%;

  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
}

.blockQuote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}

.ulItem {
  color: red;
}

.olItem {
  color: purple;
}

.codeBlock {
  color: limegreen;
}
